<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Search Input Preview</title>
  <script src="js/search.js"></script>
  <script src="../Components/js/messages.js"></script>
  <link rel="stylesheet" href="css/main.css" />
  <script src="js/include-header.js" defer></script>
  <script src="js/include-footer.js" defer></script>
  <script src="js/toggler.js" defer></script>
  <script src="js/modal.js" defer></script>
  <script src="js/mega-nav.js" defer></script>
  <script src="js/dropdown.js" defer></script>
</head>
<body>
  <div id="site-header"></div>

    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <h1>Search Input</h1>
                <p class="text-gray-400">
                    The Search Input component allows users to enter text queries to quickly find relevant content within an interface. It typically includes a text field and a search icon, and may offer additional features such as auto-suggestions, clear input functionality, or filters.
                    Designed to be lightweight and accessible, this component helps streamline navigation and improve content discoverability.
                </p>
            </div>
        </div>
        <div class="row mb-32">
            <div class="col-12">
                <div class="mt-56 mb-32 border-bottom-1 border-bottom-solid border-gray-200">
                    <h2>Shapes</h2>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6"> 
                        <div class="mb-12">
                            <div class="input-group">
                                <label class="mb-8 d-block">rectangular</label>
                                <div class="search-input rectangular ">
                                    <span class="p-2 radius-8 d-inline-flex icon-search icon-search">
                                        <svg class="icon medium" aria-hidden="true"> 
                                            <use href="assets/icons/sprite.svg#icon-search"></use> 
                                        </svg>
                                    </span>
                                    <input type="text" class="input" placeholder="Placeholder" /> 
                                    <div class="align-items-center gap-8 btn-group">
                                        <span class="spinner spinner--extra-small spinner--brand"></span>
                                        <button type="button" class="btn-icon clear">
                                            <svg class="icon small" aria-hidden="true"> 
                                                <use href="assets/icons/sprite.svg#icon-cross-small"></use> 
                                            </svg>
                                        </button>
                                        <button type="button" class="btn btn-primary btn-search">
                                            <svg class="icon medium" aria-hidden="true"> 
                                                <use href="assets/icons/sprite.svg#icon-arrow-left"></use> 
                                            </svg>
                                        </button>
                                    </div>
                                </div>  
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6">
                        <div class="mb-12">
                            <div class="input-group">
                                <label class="mb-8 d-block">circular</label>
                                <div class="search-input circular">
                                <span class="p-2 radius-8 d-inline-flex icon-search icon-search">
                                        <svg class="icon medium" aria-hidden="true"> 
                                            <use href="assets/icons/sprite.svg#icon-search"></use> 
                                        </svg>
                                    </span>
                                    <input type="text" class="input" placeholder="Placeholder" /> 
                                    <div class="align-items-center gap-8 btn-group">
                                        <span class="spinner spinner--extra-small spinner--brand"></span>
                                        <button type="button" class="btn-icon clear">
                                            <svg class="icon small" aria-hidden="true"> 
                                                <use href="assets/icons/sprite.svg#icon-cross-small"></use> 
                                            </svg>
                                        </button>
                                        <button type="button" class="btn btn-primary btn-search">
                                            <svg class="icon medium" aria-hidden="true"> 
                                                <use href="assets/icons/sprite.svg#icon-arrow-left"></use> 
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Sizes -->
                <div class="row">
                    <div class="col-12 col">
                        <h2 class="mt-56 mb-32 border-bottom-1 border-bottom-solid border-gray-200">Sizes</h2>
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <h5>large</h5>
                                <div class="input-group">
                                    <label class="mb-8 d-block">large</label>
                                    <div class="search-input large rectangular">
                                        <span class="p-2 radius-8 d-inline-flex icon-search icon-search">
                                            <svg class="icon medium" aria-hidden="true"> 
                                                <use href="assets/icons/sprite.svg#icon-search"></use> 
                                            </svg>
                                        </span>
                                        <input type="text" class="input" placeholder="Placeholder" /> 
                                        <div class="align-items-center gap-8 btn-group">
                                            <span class="spinner spinner--extra-small spinner--brand"></span>
                                            <button type="button" class="btn-icon clear">
                                                <svg class="icon small" aria-hidden="true"> 
                                                    <use href="assets/icons/sprite.svg#icon-cross-small"></use> 
                                                </svg>
                                            </button>
                                            <button type="button" class="btn btn-primary btn-search">
                                                <svg class="icon medium" aria-hidden="true"> 
                                                    <use href="assets/icons/sprite.svg#icon-arrow-left"></use> 
                                                </svg>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <h5>medium</h5>
                                <div class="input-group">
                                    <label class="mb-8 d-block">medium</label>
                                    <div class="search-input rectangular medium">
                                        <span class="p-2 radius-8 d-inline-flex icon-search icon-search">
                                            <svg class="icon medium" aria-hidden="true"> 
                                                <use href="assets/icons/sprite.svg#icon-search"></use> 
                                            </svg>
                                        </span>
                                        <input type="text" class="input" placeholder="Placeholder" /> 
                                        <div class="align-items-center gap-8 btn-group">
                                            <span class="spinner spinner--extra-small spinner--brand"></span>
                                            <button type="button" class="btn-icon clear">
                                                <svg class="icon small" aria-hidden="true"> 
                                                    <use href="assets/icons/sprite.svg#icon-cross-small"></use> 
                                                </svg>
                                            </button>
                                            <button type="button" class="btn btn-primary btn-search">
                                                <svg class="icon medium" aria-hidden="true"> 
                                                    <use href="assets/icons/sprite.svg#icon-arrow-left"></use> 
                                                </svg>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
                
                <!-- States -->
                <div class="row">
                    <div class="col-12 col">
                        <h2 class="mt-56 mb-32 border-bottom-1 border-bottom-solid border-gray-200">States</h2>
                        <div class="row">
                            <div class="col-12 col-md-6 mb-32">
                                <div class="mb-32">
                                    <div class="input-group">
                                        <label class="mb-8 d-block">default</label>
                                        <div class="search-input rectangular">
                                            <span class="p-2 radius-8 d-inline-flex icon-search  icon-search">
                                                <svg class="icon medium" aria-hidden="true"> 
                                                    <use href="assets/icons/sprite.svg#icon-search"></use> 
                                                </svg>
                                            </span>
                                            <input type="text" class="input" placeholder="Placeholder" />
                                            <div class="align-items-center gap-8 btn-group">
                                                <span class="spinner spinner--extra-small spinner--brand"></span>
                                                <button type="button" class="btn-icon clear">
                                                    <svg class="icon small" aria-hidden="true"> 
                                                        <use href="assets/icons/sprite.svg#icon-cross-small"></use> 
                                                    </svg>
                                                </button>
                                                <button type="button" class="btn btn-primary btn-search">
                                                    <svg class="icon medium" aria-hidden="true"> 
                                                        <use href="assets/icons/sprite.svg#icon-arrow-left"></use> 
                                                    </svg>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-32">
                                    <div class="input-group">
                                        <label class="mb-8 d-block">hover</label>
                                        <div class="search-input rectangular hover">
                                            <span class="p-2 radius-8 d-inline-flex icon-search  icon-search">
                                                <svg class="icon medium" aria-hidden="true"> 
                                                    <use href="assets/icons/sprite.svg#icon-search"></use> 
                                                </svg>
                                            </span>
                                            <input type="text" class="input"  placeholder="Placeholder" />
                                            <div class="align-items-center gap-8 btn-group">
                                                <span class="spinner spinner--extra-small spinner--brand"></span>
                                                <button type="button" class="btn-icon clear">
                                                    <svg class="icon small" aria-hidden="true"> 
                                                        <use href="assets/icons/sprite.svg#icon-cross-small"></use> 
                                                    </svg>
                                                </button>
                                                <button type="button" class="btn btn-primary btn-search">
                                                    <svg class="icon medium" aria-hidden="true"> 
                                                        <use href="assets/icons/sprite.svg#icon-arrow-left"></use> 
                                                    </svg>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-32">
                                    <div class="input-group">
                                        <label class="mb-8 d-block">focus-empty</label>
                                        <div class="search-input rectangular focus-empty">
                                            <span class="p-2 radius-8 d-inline-flex icon-search icon-search">
                                                <svg class="icon medium" aria-hidden="true"> 
                                                    <use href="assets/icons/sprite.svg#icon-search"></use> 
                                                </svg>
                                            </span>
                                            <input type="text" class="input"  placeholder="Placeholder" />
                                            <div class="align-items-center gap-8 btn-group">
                                                <span class="spinner spinner--extra-small spinner--brand"></span>
                                                <button type="button" class="btn-icon clear">
                                                    <svg class="icon small" aria-hidden="true"> 
                                                        <use href="assets/icons/sprite.svg#icon-cross-small"></use> 
                                                    </svg>
                                                </button>
                                                <button type="button" class="btn btn-primary btn-search">
                                                    <svg class="icon medium" aria-hidden="true"> 
                                                        <use href="assets/icons/sprite.svg#icon-arrow-left"></use> 
                                                    </svg>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-32">
                                    <div class="input-group">
                                        <label class="mb-8 d-block">focus-populated</label>
                                        <div class="search-input rectangular focus-empty has-value is-ready">
                                            <span class="p-2 radius-8 d-inline-flex icon-search icon-search">
                                                <svg class="icon medium" aria-hidden="true"> 
                                                    <use href="assets/icons/sprite.svg#icon-search"></use> 
                                                </svg>
                                            </span>
                                            <input type="text" class="input"  placeholder="Placeholder" value="Search term" />
                                            <div class="align-items-center gap-8 btn-group">
                                                <span class="spinner spinner--extra-small spinner--brand"></span>
                                                <button type="button" class="btn-icon clear">
                                                    <svg class="icon small" aria-hidden="true"> 
                                                        <use href="assets/icons/sprite.svg#icon-cross-small"></use> 
                                                    </svg>
                                                </button>
                                                <button type="button" class="btn btn-primary btn-search">
                                                    <svg class="icon medium" aria-hidden="true"> 
                                                        <use href="assets/icons/sprite.svg#icon-arrow-left"></use> 
                                                    </svg>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-32">
                                    <div class="input-group">
                                        <label class="mb-8 d-block">loading</label>
                                        <div class="search-input rectangular focus-empty loading has-value is-ready">
                                            <span class="p-2 radius-8 d-inline-flex icon-search icon-search">
                                                <svg class="icon medium" aria-hidden="true"> 
                                                    <use href="assets/icons/sprite.svg#icon-search"></use> 
                                                </svg>
                                            </span>
                                            <input type="text" class="input"  placeholder="Placeholder" value="Loading..." />
                                            <div class="align-items-center gap-8 btn-group">
                                                <span class="spinner spinner--extra-small spinner--brand"></span>
                                                <button type="button" class="btn-icon clear">
                                                    <svg class="icon small" aria-hidden="true"> 
                                                        <use href="assets/icons/sprite.svg#icon-cross-small"></use> 
                                                    </svg>
                                                </button>
                                                <button type="button" class="btn btn-primary btn-search">
                                                    <svg class="icon medium" aria-hidden="true"> 
                                                        <use href="assets/icons/sprite.svg#icon-arrow-left"></use> 
                                                    </svg>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-32">
                                    <div class="input-group">
                                        <label class="mb-8 d-block">filled</label>
                                        <div class="search-input rectangular filled">
                                            <span class="p-2 radius-8 d-inline-flex icon-search icon-search">
                                                <svg class="icon medium" aria-hidden="true"> 
                                                    <use href="assets/icons/sprite.svg#icon-search"></use> 
                                                </svg>
                                            </span>
                                            <input type="text" class="input"  placeholder="Placeholder" value="Preset value" />
                                            <div class="align-items-center gap-8 btn-group">
                                                <span class="spinner spinner--extra-small spinner--brand"></span>
                                                <button type="button" class="btn-icon clear">
                                                    <svg class="icon small" aria-hidden="true"> 
                                                        <use href="assets/icons/sprite.svg#icon-cross-small"></use> 
                                                    </svg>
                                                </button>
                                                <button type="button" class="btn btn-primary btn-search">
                                                    <svg class="icon medium" aria-hidden="true"> 
                                                        <use href="assets/icons/sprite.svg#icon-arrow-left"></use> 
                                                    </svg>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-32">
                                    <div class="input-group">
                                        <label class="mb-8 d-block">disabled</label>
                                        <div class="search-input rectangular disabled">
                                            <span class="p-2 radius-8 d-inline-flex icon-search">
                                                <svg class="icon medium" aria-hidden="true"> 
                                                    <use href="assets/icons/sprite.svg#icon-search"></use> 
                                                </svg>
                                            </span>
                                            <input type="text" class="input"  placeholder="Placeholder" disabled />
                                            <div class="align-items-center gap-8 btn-group">
                                                <span class="spinner spinner--extra-small spinner--brand"></span>
                                                <button type="button" class="btn-icon clear">
                                                    <svg class="icon small" aria-hidden="true"> 
                                                        <use href="assets/icons/sprite.svg#icon-cross-small"></use> 
                                                    </svg>
                                                </button>
                                                <button type="button" class="btn btn-primary btn-search">
                                                    <svg class="icon medium" aria-hidden="true"> 
                                                        <use href="assets/icons/sprite.svg#icon-arrow-left"></use> 
                                                    </svg>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 mb-32">
                                <div class="mb-32">
                                    <div class="input-group">
                                        <label class="mb-8 d-block">default</label>
                                        <div class="search-input circular">
                                            <span class="p-2 radius-8 d-inline-flex icon-search">
                                                <svg class="icon medium" aria-hidden="true"> 
                                                    <use href="assets/icons/sprite.svg#icon-search"></use> 
                                                </svg>
                                            </span>
                                            <input type="text" class="input"  placeholder="Placeholder" />
                                            <div class="align-items-center gap-8 btn-group">
                                                <span class="spinner spinner--extra-small spinner--brand"></span>
                                                <button type="button" class="btn-icon clear">
                                                    <svg class="icon small" aria-hidden="true"> 
                                                        <use href="assets/icons/sprite.svg#icon-cross-small"></use> 
                                                    </svg>
                                                </button>
                                                <button type="button" class="btn btn-primary btn-search">
                                                    <svg class="icon medium" aria-hidden="true"> 
                                                        <use href="assets/icons/sprite.svg#icon-arrow-left"></use> 
                                                    </svg>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-32">
                                    <div class="input-group">
                                        <label class="mb-8 d-block">hover</label>
                                        <div class="search-input circular hover">
                                            <span class="p-2 radius-8 d-inline-flex icon-search">
                                                <svg class="icon medium" aria-hidden="true"> 
                                                    <use href="assets/icons/sprite.svg#icon-search"></use> 
                                                </svg>
                                            </span>
                                            <input type="text" class="input"  placeholder="Placeholder" />
                                            <div class="align-items-center gap-8 btn-group">
                                                <span class="spinner spinner--extra-small spinner--brand"></span>
                                                <button type="button" class="btn-icon clear">
                                                    <svg class="icon small" aria-hidden="true"> 
                                                        <use href="assets/icons/sprite.svg#icon-cross-small"></use> 
                                                    </svg>
                                                </button>
                                                <button type="button" class="btn btn-primary btn-search">
                                                    <svg class="icon medium" aria-hidden="true"> 
                                                        <use href="assets/icons/sprite.svg#icon-arrow-left"></use> 
                                                    </svg>
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="mb-32">
                                    <div class="input-group">
                                        <label class="mb-8 d-block">focus-empty</label>
                                        <div class="search-input circular focus-empty">
                                            <span class="p-2 radius-8 d-inline-flex icon-search">
                                                <svg class="icon medium" aria-hidden="true"> 
                                                    <use href="assets/icons/sprite.svg#icon-search"></use> 
                                                </svg>
                                            </span>
                                            <input type="text" class="input"  placeholder="Placeholder" />
                                            <div class="align-items-center gap-8 btn-group">
                                                <span class="spinner spinner--extra-small spinner--brand"></span>
                                                <button type="button" class="btn-icon clear">
                                                    <svg class="icon small" aria-hidden="true"> 
                                                        <use href="assets/icons/sprite.svg#icon-cross-small"></use> 
                                                    </svg>
                                                </button>
                                                <button type="button" class="btn btn-primary btn-search">
                                                    <svg class="icon medium" aria-hidden="true"> 
                                                        <use href="assets/icons/sprite.svg#icon-arrow-left"></use> 
                                                    </svg>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-32">
                                    <div class="input-group">
                                        <label class="mb-8 d-block">focus-populated</label>
                                        <div class="search-input circular focus-empty has-value is-ready">
                                            <span class="p-2 radius-8 d-inline-flex icon-search">
                                                <svg class="icon medium" aria-hidden="true"> 
                                                    <use href="assets/icons/sprite.svg#icon-search"></use> 
                                                </svg>
                                            </span>
                                            <input type="text" class="input"  placeholder="Placeholder" value="Search term" />
                                            <div class="align-items-center gap-8 btn-group">
                                                <span class="spinner spinner--extra-small spinner--brand"></span>
                                                <button type="button" class="btn-icon clear">
                                                    <svg class="icon small" aria-hidden="true"> 
                                                        <use href="assets/icons/sprite.svg#icon-cross-small"></use> 
                                                    </svg>
                                                </button>
                                                <button type="button" class="btn btn-primary btn-search">
                                                    <svg class="icon medium" aria-hidden="true"> 
                                                        <use href="assets/icons/sprite.svg#icon-arrow-left"></use> 
                                                    </svg>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-32">
                                    <div class="input-group">
                                        <label class="mb-8 d-block">loading</label>
                                        <div class="search-input circular focus-empty loading has-value is-ready">
                                            <span class="p-2 radius-8 d-inline-flex icon-search">
                                                <svg class="icon medium" aria-hidden="true"> 
                                                    <use href="assets/icons/sprite.svg#icon-search"></use> 
                                                </svg>
                                            </span>
                                            <input type="text" class="input"  placeholder="Placeholder" value="Loading..." />
                                            <div class="align-items-center gap-8 btn-group">
                                                <span class="spinner spinner--extra-small spinner--brand"></span>
                                                <button type="button" class="btn-icon clear">
                                                    <svg class="icon small" aria-hidden="true"> 
                                                        <use href="assets/icons/sprite.svg#icon-cross-small"></use> 
                                                    </svg>
                                                </button>
                                                <button type="button" class="btn btn-primary btn-search">
                                                    <svg class="icon medium" aria-hidden="true"> 
                                                        <use href="assets/icons/sprite.svg#icon-arrow-left"></use> 
                                                    </svg>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-32">
                                    <div class="input-group">
                                        <label class="mb-8 d-block">filled</label>
                                        <div class="search-input circular filled">
                                            <span class="p-2 radius-8 d-inline-flex icon-search">
                                                <svg class="icon medium" aria-hidden="true"> 
                                                    <use href="assets/icons/sprite.svg#icon-search"></use> 
                                                </svg>
                                            </span>
                                            <input type="text" placeholder="Placeholder"  class="input" value="Preset value" />
                                            <div class="align-items-center gap-8 btn-group">
                                                <span class="spinner spinner--extra-small spinner--brand"></span>
                                                <button type="button" class="btn-icon clear">
                                                    <svg class="icon small" aria-hidden="true"> 
                                                        <use href="assets/icons/sprite.svg#icon-cross-small"></use> 
                                                    </svg>
                                                </button>
                                                <button type="button" class="btn btn-primary btn-search">
                                                    <svg class="icon medium" aria-hidden="true"> 
                                                        <use href="assets/icons/sprite.svg#icon-arrow-left"></use> 
                                                    </svg>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-32">
                                    <div class="input-group">
                                        <label class="mb-8 d-block">disabled</label>
                                        <div class="search-input circular disabled">
                                            <span class="p-2 radius-8 d-inline-flex icon-search">
                                                <svg class="icon medium" aria-hidden="true"> 
                                                    <use href="assets/icons/sprite.svg#icon-search"></use> 
                                                </svg>
                                            </span>
                                            <input type="text" class="input"  placeholder="Placeholder" disabled />
                                            <div class="align-items-center gap-8 btn-group">
                                                <span class="spinner spinner--extra-small spinner--brand"></span>
                                                <button type="button" class="btn-icon clear">
                                                    <svg class="icon small" aria-hidden="true"> 
                                                        <use href="assets/icons/sprite.svg#icon-cross-small"></use> 
                                                    </svg>
                                                </button>
                                                <button type="button" class="btn btn-primary btn-search">
                                                    <svg class="icon medium" aria-hidden="true"> 
                                                        <use href="assets/icons/sprite.svg#icon-arrow-left"></use> 
                                                    </svg>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 


            </div>

    </div> 

  <div id="site-footer"></div>
</body>
</html>



